<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"
      integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg=="
      crossorigin="anonymous"
      defer
    ></script>
    <title>Sam Foo Pottery</title>
  </head>
  <body>
    <div class="content-container">
      <nav>
        <a id="logo" href="./index.html"><h1>Sam Foo Pottery</h1></a>
        <ul class="nav-links">
          <li><a href="./creations.html">creations</a></li>
          <li><a href="./about.html">about</a></li>
          <li><a href="./contact.html">contact</a></li>

          <li><a href="#">shop</a></li>
        </ul>
        <a
          class="instagram-link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.instagram.com/samfoopottery/"
          ><i class="fab fa-instagram"></i>Instagram</a
        >
      </nav>
      <div class="information-container">
        <div class="information">
          <div class="information-left">
            <img src="../images/pic-5-min.JPG" alt="picture" />
          </div>
          <div class="information-right">
            <h2>About</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Delectus, nemo! Sequi porro quia voluptatum labore.
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Provident, nam nisi. Magnam, assumenda qui dolorem ipsum
              perspiciatis vel perferendis obcaecati minus exercitationem quam
              eius natus! Aliquam, magnam aspernatur? Tenetur, aspernatur.
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Dignissimos eius qui alias, delectus quas harum? Voluptatem minima
              sint dolore officiis deserunt officia laborum a ab nemo similique
              velit aut eaque, iusto atque voluptates aliquid ipsum debitis
              vitae dolor cupiditate nihil rem perferendis. Exercitationem omnis
              nesciunt cupiditate officia praesentium reiciendis autem!
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
