<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Sam Foo Pottery</title>
  </head>
  <body class="main-container">
    <nav>
      <a id="logo" href="./index.html"><h1>Sam Foo Pottery</h1></a>
      <ul class="nav-links">
        <li><a href="./creations.html">creations</a></li>
        <li><a href="./about.html">about</a></li>
        <li><a href="./contact.html">contact</a></li>

        <li><a href="./shop.html">Shop</a></li>
      </ul>
      <i class="fab fa-instagram"></i>
    </nav>
    <div class="information-container">
      <div class="information">
        <h2>CONTACT PAGE</h2>
      </div>
    </div>

    <script src="main.js"></script>
  </body>
</html>
